html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Panton Rust Script';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* https://www.fontfabric.com/fonts/panton-rust/ */

@font-face {
  font-family: "Panton Rust Script";
  src: url("../public/PantonRustScrSmBold-Gr.woff2") format("woff2");
}

@font-face {
  font-family: "Panton Rust Sans";
  src: url("../public/PantonRustHeavy-GrSh.woff2") format("woff2");
}
